@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>You may contact us</h3>


<address>
    <strong>Developers:</strong>   <a href="mailto:dovydas.petrutis@ktu.edu">Dovydas Petrutis </a> and 
    <a href="mailto:rokas.bundonis@ktu.edu">Rokas Bundonis</a>
</address>