@model IEnumerable < PoolManager.Models.UserListViewModel>
@{
    ViewBag.Title = "UsersList";
}

<h2>UsersList</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email </th>
            <th>Action </th>
                

        </tr>
    </thead>    
    <tbody>
      
    
       @foreach (var item in Model)
       {
           <tr>
               <td>@Html.DisplayFor(modelItem => item.UserName)</td>
               <td>@Html.DisplayFor(modelItem => item.Email)</td>
           <td> @Html.ActionLink("Delete", "DeleteUser", "Account", new { id = item.UserID }, null)</td>
           </tr>

            }
        


    </tbody>
</table>