@model IEnumerable<PoolManager.Models.Drill>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drills list</h2>

<input type="button" onclick="location.href='/drills/new';" value="New drill" class="btn btn-primary" />
<table id="drills" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Drill</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var drill in Model)
        {
            <tr>

                <td>@Html.ActionLink(drill.Heading, "Edit", "drills", new { id = drill.Id }, null)</td>
               
            </tr>
        }
    </tbody>
</table>