@model PoolManager.ViewModels.DrillSetsFormViewModel
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Heading</h2>


<dt>Drills: </dt>
<dd>
    @foreach (var item in Model.Drills)
    {
        if (item.Checked)
        {
            
            <li><td>@Html.ActionLink(item.Name, "Details", "drills", new { id = item.Id }, null)</td></li>
        }
    }
</dd>

@Html.Raw(Model.Description)

